{% extends "base.html" %}


{% block content %}
<h1>Dev Blog</h1>

{% if posts %}
  {% for post in posts %}
    <div class="post-preview">
      <h2>
        <a href="{{ url_for('blog_post', slug=post.slug) }}">
          {{ post.title }}
        </a>
      </h2>
      <p class="post-date">
        {{ post.created.strftime("%b %d, %Y") }}
      </p>
      {% if post.image %}
        <img src="{{ url_for('static', filename='uploads/' ~ post.image) }}" class="post-thumb">
      {% endif %}
    </div>
  {% endfor %}
{% else %}
  <p>No posts yet — check back soon.</p>
{% endif %}

{% endblock %}
