{% extends "base.html" %}
{% block content %}

<section class="admin-edit-wrap">
  <h1>Edit Project</h1>

  <form method="POST" class="admin-form">

    <input name="title" value="{{ project.title }}" placeholder="Title" required>

    <textarea name="description" placeholder="Description">{{ project.description }}</textarea>

    <input name="tech" value="{{ project.tech }}" placeholder="Tech stack">

    <input name="github" value="{{ project.github }}" placeholder="GitHub URL">

    <input name="demo_url" value="{{ project.demo_url }}" placeholder="Live demo URL">

    <div class="demo-row">
  <label class="demo-toggle">
    <input type="checkbox" name="has_demo" {% if project and project.has_demo %}checked{% endif %}>
    <span>Has Live Demo</span>
  </label>
</div>


    <button class="btn btn-primary create-btn">Save Changes</button>
  </form>
</section>


{% endblock %}
