{% extends "base.html" %}
{% block content %}
<h1>Edit Project</h1>

<form method="POST" class="admin-form">

  <input name="title" value="{{ project.title }}" required>
  <textarea name="description">{{ project.description }}</textarea>
  <input name="tech" value="{{ project.tech }}">
  <input name="github" value="{{ project.github }}">
  <input name="demo_url" value="{{ project.demo_url }}">
  <input name="image_url" value="{{ project.image_url }}">

  <label class="checkbox-row">
    <input type="checkbox" name="has_demo" {% if project.has_demo %}checked{% endif %}>
    Has Live Demo
  </label>

  <button class="btn btn-primary">Update Project</button>
</form>
{% endblock %}

